@font-face {
  font-family: 'Plaid';
  src: url('../assets/Plaid.woff2') format('woff2'),
       url('../assets/Plaid.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

